*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
body{
	background-size: cover;
	width: 100%;
	height: 100vh;
    background-color: whitesmoke;
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(18, 34, 120);
}
nav ul{
	float: right;
	padding:  10px 0}

nav ul li{
	display: inline-block;
	width: 150px;
	padding: 10px 0;
}
nav ul li a{
	font-size: 20px;
	font-family: arial;
    color: white;
    display: block;
}
nav ul li a:hover{
    color: orange;
    font-weight: bold;
}

.container{
    justify-content: center;
    display: flex;
    clear: right;
    background-color: skyblue;
    margin: 0 50px;
    padding: 20px 0 50px 0;
    border-radius: 10px;
}
h2{
clear: right;
text-align: center;
padding: 40px 0;
margin-top: 70px;
}
form{
    background-color: skyblue;
    padding: 20px;
}
form input{
    width: 100%;
    padding: 7px 0;
    margin: 10px 0;
    border-radius: 2px;
    border: none;
}
textarea{
    width: 100%;
    margin: 10px 0  30px 0;
    border-radius: 5px;
    border: none;
}
label{
    font-weight: bold;
}
button{
    background-color: rgb(12, 200,12);
    width: 100px;
    padding: 4px 2px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}
button:hover{
    filter: brightness(.9);
}


footer{
    position: static;
    margin-top: 50px;
    background-color: rgb(12,103,240);
    bottom: 0;
    width: 100%;
    left: 0;
    top: 20px;
    
    }
    .social_Media{
        padding: 70px 50px  0 50px;
    }
    .social_Media a{
        width: 80px;
        color: orange;
        font-size: 22px;
        display: block;
        float: left;
        margin-bottom: 20px;
    }
    .social_Media a:hover{
        color: white;
        transition: 2s;
    }
    .copy{
        text-align: center;
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: relative;
        bottom: 30px;
    }
    .links ul{
        float: right;
    }
    .links ul li{
        display: inline-block;
        width: 100px;
        padding: 40px 0;
    }
    .links ul li a{
        color: white;
        font-size: 20px;
    }
    .links ul li a:hover{
        margin: 3px solid;
    }